<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help!!!</title>

</head>
<body>
<center><h1>Welcome to your account recovery!</h1></center>
<center>
<div class="recovery_form">
    <form action="/recover_password" method="post">
        <p>Username:</p>
        <input type="text" name="username" id="">
        <br>
        <p>Password:</p>
        <input type="text" name="password" id="">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
</center>
</body>
</html>