<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST Form</title>
</head>
<body>
  

    <center>
        <h2>REST calc signup</h2>
           <p>Username:</p>
           <input type="text" name="username" id="" required>
           <br>
           <p>Password:</p>
           <input type="password" name="password" id="" required>
           <br>
           <input type="submit" value="submit">
       </form>
       <br>
       <a href="#init" onclick="init(null,null);">Sign in!</a>
       <br>
       <a href="#">Forgot password?</a>
       <br>
       
    </center>
</body>
</html>